*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

# Built application files
*.apk

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
